
.photos{
    margin-left: 100px;
    width: 642px;
    font-size: 20px;
    height: max-content;
}

.filter>input{
    width: 580px;
    font-size: 18px;
    border-radius: 3px;
    margin-left: 40px;
    padding: 10px;
    border: 1px solid grey;


}