.App{
    width: 600px;
    margin:auto;
}

.App-header{
    font-size: 40px;
    text-align: center;
}
.App>hr{
    margin-top: 20px;
    background-color: lightgray;
    margin-bottom: 20px;
}
.user>ul>li{
    font-size: 18px;
    list-style: none;

}
.user{
    flex: 1;
}
.App-body{
display: flex;

}

.button>button{
    background-color: darkorange;
    border: none;
    width:100px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    color: white;
    font-size: 16px

}
.check>input{
    margin-top: 20px;
}